{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

  <h1>The Canyons</h1>
  <h2>Here are the runs from the Canyons Resort in Park City, Utah. Vote for your favorite!</h2>

<ul>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-silverado</a>Silverado</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-the-abyss</a>The Abyss</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-g-force</a>G-Force</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-the-meadows</a>The Meadows</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-super-fury</a>Super Fury</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-diamond-ridge</a>Diamond Ridge</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons:-chimera</a>Chimera</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-the-drop</a>The Drop</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-cascade</a>Cascade</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-heavy-metal</a>Heavy Metal</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-harmony</a>Harmony</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-condor-woods</a>Condor Woods</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-apex-ridge</a>Apex Ridge</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-boa</a>Boa</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-eclipse</a>Eclipse</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-cloud-9</a>Cloud 9</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-sidewinder</a>Sidewinder</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-upper-white-pine</a>Upper White Pine</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-mercury</a>Mercury</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-copperhead</a>Copperhead</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-day-break</a>Day Break</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-dreamscape</a>Dreamscape</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-snow-dancer</a>Snow Dancer</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-another-world</a>Another World</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-serenity</a>Serenity</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-red-pine-chutes</a>Red Pine Chutes</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-94-turns</a>94 Turns</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-upper-crowning-glory</a>Upper Crowning Glory</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-lazy-day</a>Lazy Day</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-002</a>002</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-elk-dance</a>Elk Dance</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-panorama</a>Panorama</p></li>
  <li><p><a href=>http://preski.herokuapp.com/the-canyons-resort:-trance</a>Trance</p></li>

{% endblock %}
