{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

  <h1>The Canyons Resort</h1>
<h2>Here are all the runs from The Canyons Resort in Park City, Utah. Vote for your favorite.</h2>
<ul>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-silverado">Silverado</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-the-abyss">The Abyss</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-g-force">G-Force</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-the-meadows">The Meadows</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-super-fury">Super Fury</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-diamond-ridge">Diamond Ridge</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons:-chimera">Chimera</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-the-drop">The Drop</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-cascade">Cascade</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-heavy-metal">Heavy Metal</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-harmony">Harmony</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-condor-woods">Condor Woods</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-apex-ridge">Apex Ridge</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-boa">Boa</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-eclipse">Eclipse</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-cloud-9">Cloud 9</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-sidewinder">Sidewinder</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-upper-white-pine">Upper White Pine</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-mercury">Mercury</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-copperhead">Copperhead</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-day-break">Day Break</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-dreamscape">Dreamscape</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-snow-dancer">Snow Dancer</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-another-world">Another World</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-serenity">Serenity</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-red-pine-chutes">Red Pine Chutes</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-94-turns">94 Turns</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-upper-crowning-glory">Upper Crowning Glory</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-lazy-day">Lazy Day</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-002">002</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-elk-dance">Elk Dance</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-panorama">Panorama</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/the-canyons-resort:-trance">Trance</a></p></li>

  
{% endblock %}