{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

<h1>About The Canyons</h1>
<p>PreSki lets you vote for your favorite ski runs using Twitter! Simply find the name of your favorite run, click on the name, and then click on the Twitter button.</p>
<p>The Tweet will automatically say "I'm voting for my favorite run on #PreSki. Feel free to add more information and share why that run is your favorite.</p>
<p>Right now, I've only added ski runs from the Canyons Resort in Park City, Utah, but I will add more soon!</p>
{% endblock %}