{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

<h1>Deer Valley</h1>
<h2> Here are the runs from the Deer Valley in Park City, Utah. Vote for your favorites!</h2>

<ul> 

 <li><p><a href="http://preski.herokuapp.com/deer-valley:-bandana">Bandana</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/deer-valley:-stein-s-way">Stein's Way</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/deer-valley:-nabob">Nabob</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/deer-valley:-ontario">Ontario</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/deer-valley:-sunrise">Sunrise</a></p></li>
  
{% endblock %}