{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

<h1>Park City</h1>
<h2> Here are the runs from the Park City Ski Resort in Park City, Utah. Vote for your favorites!</h2>

<ul> 
 <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-georgeanna">Georgeanna</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-silver-king">Silver King</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-pay-day">Pay Day</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-homerun">Home Run</a></p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-jupiter-bowl">Jupiter Bowl</a></p></li>
  
{% endblock %}