{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

<h1>Park City</h1>
<h2> Here are the runs from the Park City Ski Resort in Park City, Utah. Vote for your favorites!</h2>

<ul> 
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-georgeanna"></a>Georgeanna</p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-silver-king"></a>Silver King</p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-pay-day"></a>Pay Day</p></li>
  <li><p><a href="http://preski.herokuapp.com/park-city-ski-resort:-homerun"></a>Home Run</p></li>
{% endblock %}