{% extends "layout.html" %}

{% block title %}<title>{{ config.BLOG_TITLE }}</title>{% endblock %}

{% block content %}

<h1>About PreSki</h1>
<p>PreSki is a site that allows you to vote for your favorite ski runs using Twitter. To vote, simply find the name of your favorite run, click on the name, and then click on the Twitter button. Each tweet counts as one vote</p>
<p>When you tweet, it will automatically say "I am voting for my favorite run on #PreSki" and link to the page. You can change this to say anything you want. You can add some additional information about the run, and share why it is your favorite. Just make sure to use the hashtag #PreSki!"</p>
<p> Right now, I have only added runs for the Canyons Resort in Park City, Utah, but more resorts and runs will be coming soon!</p>

{% endblock %}